html body {
	height: 100%;
}

/* ////// TOP ///// */

.jumbotron {
	background: url(../images/graffiti3.jpg) no-repeat center center fixed;
	position: relative;
	width: 100%;
	height: 100vh;
	webkit-background-size: 100% 100%;
	moz-background-size: 100% 100%;
	background-size: 100% 100%;
	webkit-background-size: cover;
	moz-background-size: cover;
	background-size: cover;
	margin-bottom: 0;
	padding: 0;
}

#top .container {
	width: 40%;
	padding: 60px 30px;
	background: rgba(0, 0, 0, .7);
	color: white;
	position: absolute;
	left: 15%;
	top: 25%;
}

.jumbotron .scroll-down {
	height: 80px;
	width: 110px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5%;
	background-color: black;
	text-align: center;
	z-index: 5;
}

.jumbotron .scroll-down .glyphicon {
	color: #FFF;
	font-size: 30px;
	padding-top: 20px;
	text-align: center;
	animation-name: jump;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes jump {
	0% {
		padding-top: 20px;
	}
	50% {
		padding-top: 28px;
	}
	100% {
		padding-top: 20px
	}
}


/* ///// NAVBAR ///// */

.navbar {
	border: 0px;
	border-radius: 0px;
	background-color: black;
	position: absolute;
	top: 100%;
	right: 5%;
	width: 110px;
	z-index: 999;
}

.navbar .navbar-nav {
	float: none;
}

.navbar-nav {
	margin: 0px;
}

.navbar-default .navbar-nav .active a {
	background: #e2cf49;
	color: white;
}

.navbar .nav li {
	display: block;
	float: none;
	height: 80px;
}

.navbar .nav li a {
	display: block;
	height: 80px;
	text-align: center;
	padding-top: 30px;
	color: white;
}

.navbar .navbar-collapse {
	padding: 0px;
	max-height: none;
}

.fixed .navbar {
	position: fixed;
	top: 60px;
}

/* ///// PROFILE ///// */
#profile {
	padding: 75px 100px;
	margin: 0 auto;
}

#profile h1 {
	margin-top: 0px;
}

#profile .row .col-md-4 img {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	border: 3px solid black;
}


/* ///// EXPERIENCE ///// */

#experience h1 {
	text-align: center;
}

#experience hr {
	color: #bbb;
}

.experience .row {
	padding: 30px 0;
}

/* ///// SECTION BACKGROUNDS ///// */

.background-white {
	background-color: white;
}

.background-neutral {
	background: #eee9e9;
	margin: 0;
	width: 100%;
}

.container {
	padding: 40px 260px;
}
